[Unit]
Description=Stash AV Media Server
After=network.target local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/stash --nobrowser
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
